.select-user {
  width: 600px;
  margin: 0 auto 50px;
  padding: 15px;
  font-size: 17px;
  line-height: 22px;
  border: 1px dashed #cccccc;
}

.select-user span {
  font-size: 18px;
  font-weight: 700;
}
